<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TCA Enquiry</title>
    <div th:insert="~{common/link::header}"></div>
</head>

<body>
<div class="lyear-layout-sidebar-scroll">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dtb" data-toggle="table"
                                       data-url="enquiries" class="table table-hover"
                                       data-show-columns="true"
                                       data-search="true"
                                       data-show-search-clear-button="true"
                                       data-show-search-button="true"
                                       data-show-refresh="true"
                                       data-show-toggle="true"
                                       data-show-export="true"
                                       data-show-fullscreen="true"
                                       data-click-to-select="false"
                                       data-page-size="10"
                                       data-show-footer="false"
                                       data-show-columns-toggle-all="false"
                                       data-export-types="['json', 'xml', 'csv', 'txt', 'sql', 'excel']"
                                       data-height="100%"
                                       data-id-field="id"
                                       data-detail-view="true"
                                       data-detail-view-icon="true"
                                       data-detail-view-by-click="true"
                                       data-detail-formatter="detailFormatter"
                                       data-checkbox-header="true"
                                       data-side-pagination="server"
                                       data-show-pagination-switch="false"
                                       data-pagination="true"
                                       data-buttons-class="primary"
                                       data-page-list="[10, 20, 50, 100, 200]"
                                       data-pagination-pre-text="Previous"
  									   data-pagination-next-text="Next"
                                       data-sort-name="created_at"
                                       data-sort-order="desc">
                                <thead>
                                <tr>
                                    <!--<th data-field="id" data-formatter="hideIdFormatter" class="hide"></th>-->
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="reqId">Request ID</th>
                                    <th data-field="name">Name</th>
                                    <th data-field="type">Request Type</th>
                                    <th data-field="createdAt" data-formatter="dateFormatter" data-sortable="false">Created Date</th>
                                    <th data-field="createdBy">Created By</th>
                                    <th data-field="content">Request Content</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:insert="~{common/script::footer}"></div>
<script type="text/javascript">
    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
    });

    function dateFormatter(value, row, index) {
        return moment(value).format("YYYY-MM-DD hh:mm:ss a");
    }

	function hideIdFormatter(value, row, index) {
		return "<input type='hidden' value="+value+" name='id' />";
	}

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if(key!='state'){
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            }
        })
        return html.join('')
    }

    function roleFormatter(value, row, index) {
	    var html = [];
	    for (let i = 0; i < value.length; i++) {
	      html.push(value[i].name);
        }
		return html.join('\n');
	}
</script>
</body>
</html>
